/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-text: #ff0070;
  --main-color: #000028;
  --text-color: #f1b2ce;
  --header-bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --outline-button-color: rgba(255, 0, 112, 0.4);
  --background-color: #000028;
}

.theme-dark .header__dark_accent {
  display: block;
}
