/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --main-color: #353430;
    --text-color: #353430;
    --header-bg-image: url(../images/cover-image-light.png);
    --paragraph-font-size: 18px;
    --title-color: #FFC2E6;
    --outline-button-color: r gba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
}


.theme-light .header__dark_accent {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-color: #353430;
    --text-color: #353430;
    --header-bg-image: url(../images/cover-image-light.png);
    --paragraph-font-size: 18px;
    --title-color: #FFC2E6;
    --outline-button-color: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
  }

  .header__dark_accent {
    display: none;
  }
}