.page {
  font-family: var(--main-font-family), 'IBM Plex Mono', 'Bold regular', sans-serif;
  background-color: var(--background-color);
  background-image: var(--header-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  align-items: center;
  gap: 7px;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  color: var(--accent-color);
  font-size: var(--paragraph-font-size);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-text);
  border-right: 1px solid var(--accent-color-text);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color-text);
  border-left: 1px solid var(--accent-color-text);
}

.header__dark_accent {
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.header__dark_accent::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  background: var(--accent-color-text);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color-text);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-top: 6px;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--accent-color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: lowercase;
  border: none;
  padding: 0px 13px;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color-text);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 1px 0 0 var(--accent-color-text);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.header__title {
  font-family: var(--main-font-family), 'IBM Plex Mono', 'Bold regular', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  margin-bottom: 7px;
}

.section {
  margin-top: 49px;
  padding: 0px 10px;
}

.section:first-child {
  margin-top: 40px;
}

.section__text {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color-text);
  margin-bottom: 20px;
}

.section__subtitle {
  font-family: var(--main-font-family), 'IBM Plex Mono', 'Bold regular', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-color);
}

.section__paragraph {
  font-family: var(--main-font-family), 'IBM Plex Mono', 'Bold regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.link-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  position: relative;
}

.link-decor:hover::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__wrapper {
  display: grid;
  gap: 10px;
}

.section__item {
  font-weight: 400;
}

.section__gallery-subtitle {
  margin: 50px 10px 10px 10px;
}

.section__gallery {
  display: grid;
  grid-template-columns: repeat(1, minmax(min-content, max-content));
  gap: 10px;
  padding: 0 10px 0 10px;
}

.image {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  min-block-size: 667px;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  position: relative;
}

.footer__title {
  font-family: var(--main-font-family), 'IBM Plex Mono', 'Bold regular', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column-start: 2;
  }

  .header__title {
    grid-column: span 2;
    transform: translateX(-20px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-row-start: 3;
    grid-column-start: 2;
    max-width: 364px;
    transform: translateX(-3px);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__dark_accent {
    top: 20px;
    right: 30px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 472px;
    gap: 20px;
    padding: 0 20px;
  }

  .section__title {
    grid-column: 1;
    margin-bottom: 0;
  }

  .section__text {
    grid-column-start: 2;
  }

  .section_what {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .section__title-what {
    max-width: 236px;
  }

  .section__images {
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 80px 20px 10px 20px;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense;
    gap: 20px;
    box-sizing: border-box;
    padding: 0;
  }

  .section__gallery-subtitle {
    margin: 0;
    margin-bottom: 20px;
  }

  .image:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >=1024px) {
  .header {
    min-height: 768px;
  }
  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: self-start;
    padding-top: 0px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
  }

  .section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__text {
    grid-column: 2/-1;
  }

  .section_what {
    display: block;
  }

  .section__title-what {
    display: block;
    max-width: 314.89px;
    margin-bottom: 20px;
  }

  .section__text-what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    max-width: 100%;    
  }

  .footer {
    min-height: 768px;
  }
}
