/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --main-font-family: 'IBM Plex Mono', 'Bold regular', sans-serif;
  --accent-color: #FF0070;
  --accent-color-text: #FF0070;
  --main-color: #000028;
  --text-color: #F1B2CE;
  --header-bg-image: url(../images/cover-image-dark.png);
  --paragraph-font-size: 18px;
  --title-color: #DB00FF;
  --outline-button-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
}
